<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessGroups</key>
	<array>
		<string>T84QZS65DQ.platformFamily</string>
	</array>
	<key>created</key>
	<real>1769856265.3931599</real>
	<key>items</key>
	<array/>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
