<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appGroups</key>
	<array>
		<dict>
			<key>archive</key>
			<string>groups/group.com.facebook.family.tar.gz</string>
			<key>groupID</key>
			<string>group.com.facebook.family</string>
			<key>uuid</key>
			<string>0CEC5C2B-8DF8-4F13-AC68-71E3B53E2A39</string>
		</dict>
		<dict>
			<key>archive</key>
			<string>groups/group.com.facebook.Facebook.tar.gz</string>
			<key>groupID</key>
			<string>group.com.facebook.Facebook</string>
			<key>uuid</key>
			<string>2E7DBA0E-CB78-4B66-BA9D-128458957DAA</string>
		</dict>
		<dict>
			<key>archive</key>
			<string>groups/group.com.facebook.family.tar.gz</string>
			<key>groupID</key>
			<string>group.com.facebook.family</string>
			<key>uuid</key>
			<string>0CEC5C2B-8DF8-4F13-AC68-71E3B53E2A39</string>
		</dict>
		<dict>
			<key>archive</key>
			<string>groups/group.com.facebook.Facebook.tar.gz</string>
			<key>groupID</key>
			<string>group.com.facebook.Facebook</string>
			<key>uuid</key>
			<string>2E7DBA0E-CB78-4B66-BA9D-128458957DAA</string>
		</dict>
	</array>
	<key>appName</key>
	<string>Facebook</string>
	<key>applicationGroups</key>
	<array>
		<string>group.com.facebook.Facebook</string>
		<string>group.com.facebook.family</string>
	</array>
	<key>artifacts</key>
	<array>
		<dict>
			<key>name</key>
			<string>data.tar.gz</string>
			<key>path</key>
			<string>/var/mobile/Library/WeaponX/Profiles/135/backups/com.facebook.Facebook/20260131-104410/data.tar.gz</string>
			<key>sha256</key>
			<string>b3e55673026e0780b13957a5bd0fe24f87a86bba8a1fb0533cde85e3d23624ad</string>
			<key>size</key>
			<integer>35488196</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>groups/group.com.facebook.family.tar.gz</string>
			<key>path</key>
			<string>/var/mobile/Library/WeaponX/Profiles/135/backups/com.facebook.Facebook/20260131-104410/groups/group.com.facebook.family.tar.gz</string>
			<key>sha256</key>
			<string>b16577b49f0991ebc89e23ae7d1ca0dfc3b9a8c537886c617e47b49acb1c120c</string>
			<key>size</key>
			<integer>25070</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>groups/group.com.facebook.Facebook.tar.gz</string>
			<key>path</key>
			<string>/var/mobile/Library/WeaponX/Profiles/135/backups/com.facebook.Facebook/20260131-104410/groups/group.com.facebook.Facebook.tar.gz</string>
			<key>sha256</key>
			<string>5973c7469120d485f25e265f0aa3a2532dde8dac30ef18eeb7560dfae5376f35</string>
			<key>size</key>
			<integer>371421</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>groups/group.com.facebook.family.tar.gz</string>
			<key>path</key>
			<string>/var/mobile/Library/WeaponX/Profiles/135/backups/com.facebook.Facebook/20260131-104410/groups/group.com.facebook.family.tar.gz</string>
			<key>sha256</key>
			<string>b16577b49f0991ebc89e23ae7d1ca0dfc3b9a8c537886c617e47b49acb1c120c</string>
			<key>size</key>
			<integer>25070</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>groups/group.com.facebook.Facebook.tar.gz</string>
			<key>path</key>
			<string>/var/mobile/Library/WeaponX/Profiles/135/backups/com.facebook.Facebook/20260131-104410/groups/group.com.facebook.Facebook.tar.gz</string>
			<key>sha256</key>
			<string>5973c7469120d485f25e265f0aa3a2532dde8dac30ef18eeb7560dfae5376f35</string>
			<key>size</key>
			<integer>371421</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>keychain.plist</string>
			<key>path</key>
			<string>/var/mobile/Library/WeaponX/Profiles/135/backups/com.facebook.Facebook/20260131-104410/keychain.plist</string>
			<key>sha256</key>
			<string>ecbb9529398103d0fd02d8c9b4e607dde2af265d6add0bad029a94870dfd2aec</string>
			<key>size</key>
			<integer>400</integer>
		</dict>
	</array>
	<key>bundleID</key>
	<string>com.facebook.Facebook</string>
	<key>data</key>
	<dict>
		<key>archive</key>
		<string>data.tar.gz</string>
		<key>containerPath</key>
		<string>/private/var/mobile/Containers/Data/Application/A3074316-DF8D-4E9C-BE49-6959E52634D1</string>
		<key>uuid</key>
		<string>A3074316-DF8D-4E9C-BE49-6959E52634D1</string>
	</dict>
	<key>globalSafari</key>
	<dict>
		<key>archive</key>
		<string></string>
		<key>included</key>
		<integer>0</integer>
		<key>path</key>
		<string></string>
	</dict>
	<key>iosVersion</key>
	<string>13.5.1</string>
	<key>keychain</key>
	<dict>
		<key>archive</key>
		<string>keychain.plist</string>
		<key>groupsSelected</key>
		<array>
			<string>T84QZS65DQ.platformFamily</string>
		</array>
		<key>included</key>
		<integer>1</integer>
	</dict>
	<key>manifestVersion</key>
	<integer>2</integer>
	<key>options</key>
	<dict>
		<key>includeAppGroups</key>
		<integer>1</integer>
		<key>includeKeychain</key>
		<true/>
		<key>includePreferences</key>
		<true/>
	</dict>
	<key>preferences</key>
	<dict>
		<key>archive</key>
		<string>preferences/com.facebook.Facebook.plist</string>
		<key>included</key>
		<true/>
	</dict>
	<key>profileAppData</key>
	<dict>
		<key>archive</key>
		<string></string>
		<key>included</key>
		<integer>0</integer>
		<key>path</key>
		<string></string>
	</dict>
	<key>profileId</key>
	<string>135</string>
	<key>timestamp</key>
	<string>20260131-104410</string>
</dict>
</plist>
